@use "./_palette.scss" as *;

:root {
    --color-brand: #{$color-brand};
    --color-brand-light: #{$color-brand-light};
    --color-bg: #{$color-bg};
    --color-surface: #{$color-surface};
    --color-surface-light: #{$color-surface-light};
    --color-success: #{$color-success};
    --color-warning: #{$color-warning};
    --color-danger: #{$color-danger};
    --color-text: #{$color-text-main};
    --color-text-muted: #{$color-text-muted};
    --color-border: #{$color-border};
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-thin {

        // Используем переменные, которые мы прописали в Tailwind Config
        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            @apply bg-surface-light rounded-full; // Используем Tailwind классы внутри

            &:hover {
                background-color: #2A2A2A;
            }
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
}